.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .contact-content {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.76); /* Şeffaf beyaz */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333; /* Başlık rengi */
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Buton arka plan rengi */
    color: #fff; /* Buton metin rengi */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-form button:hover {
    background-color: #388e3c; /* Butonun hover rengi */
  }
  